Repository POW2KOR/adaptive_autosar, changes with the owners that CODEOWNERS names for each.
All owners: @andzisu, @sathire, @dkurbak, @atmehra, @atpanig, @saksinh, @twilmer, @heimess, @joaepp, @sonyap, @pkandha, @mcherlo, @ftrevin, @dabalan, @jjochen, @vargrob, @imierlu, @sshopov

CODEOWNERS:

# This is the `CODEOWNERS` file for minerva_mpu_adaptive based on the documentation found
# here https://git.swf.daimler.com/help/user/project/code_owners.md

# However the code owner in the MR is still an optional reviewer.
# To make it useful we would need to have Gitlab silver/premium:
# https://docs.gitlab.com/ee/user/project/protected_branches.html#protected-branches-approval-by-code-owners

# Protect folders and their default reviewers
/bsw/ @andzisu @sathire @dkurbak @atmehra @atpanig @saksinh @twilmer
/application/ @andzisu @sathire @dkurbak @atmehra @atpanig @saksinh @twilmer
/application/swc/ @heimess @joaepp
/application/swc/module_templates/autocode_module/ @sonyap @pkandha

# CI/CD and devops team
/devops/ @mcherlo @ftrevin
Jenkinsfile @mcherlo @ftrevin

# All the bazel related files shall need an approval by the ECU SW Integration team
/build_env/ @dabalan @jjochen @vargrob @imierlu @sshopov
BUILD @dabalan @jjochen @vargrob @imierlu @sshopov
WORKSPACE @dabalan @jjochen @vargrob @imierlu @sshopov
.bazelrc @dabalan @jjochen @vargrob @imierlu @sshopov
*.BUILD @dabalan @jjochen @vargrob @imierlu @sshopov
*.bzl* @dabalan @jjochen @vargrob @imierlu @sshopov

Add Resource Monitoring app to filesystem
  deployment/minerva_mpu_adaptive/BUILD
Owners: @dabalan, @jjochen, @vargrob, @imierlu, @sshopov

Increase size of Virtual Image
  os/linux/run_aarch64_qemu.sh
Owners: none

Add kremote for swc2 dlt logs
  application/x6aa_dummy_2_app/config/logging_config.json
Owners: @andzisu, @sathire, @dkurbak, @atmehra, @atpanig, @saksinh, @twilmer

Build all vector libs with -fPIC
  bazel/toolchains/aarch64_linux_linaro_compiler/aarch64_linux_linaro_toolchain_config.bzl.tpl
Owners: @dabalan, @jjochen, @vargrob, @imierlu, @sshopov

Add write_dlt plugin to the image
  WORKSPACE
  application/x6aa_resource_monitor/BUILD
  application/x6aa_resource_monitor/collectd.conf
Owners: @dabalan, @jjochen, @vargrob, @imierlu, @sshopov, @andzisu, @sathire, @dkurbak, @atmehra, @atpanig, @saksinh, @twilmer

Adjust the logging id
  application/x6aa_resource_monitor/configs/logging_config.json
Owners: @andzisu, @sathire, @dkurbak, @atmehra, @atpanig, @saksinh, @twilmer

Extend list of deps for collectd
  application/x6aa_resource_monitor/BUILD
Owners: @dabalan, @jjochen, @vargrob, @imierlu, @sshopov

Update the latest commit ID for collectd
  WORKSPACE
Owners: @dabalan, @jjochen, @vargrob, @imierlu, @sshopov

Add -fPIC to ubuntu and QNX toolchain
  bazel/toolchains/aarch64_linux_ubuntu_compiler/aarch64_linux_ubuntu_toolchain_config.bzl.tpl
  bazel/toolchains/qnx_compiler/qnx_toolchain_config.bzl.tpl
Owners: @dabalan, @jjochen, @vargrob, @imierlu, @sshopov

Disable csv plugin
  application/x6aa_resource_monitor/collectd.conf
Owners: @andzisu, @sathire, @dkurbak, @atmehra, @atpanig, @saksinh, @twilmer

Add exetended_libs rule
  application/x6aa_resource_monitor/BUILD
Owners: @dabalan, @jjochen, @vargrob, @imierlu, @sshopov

Update collectd latest commit id
  .devcontainer/devcontainer.json
Owners: none

Remove unncessary comma
  .devcontainer/devcontainer.json
Owners: none

Update patch file
  application/x6aa_resource_monitor/remove-srcdir-prefix.patch
Owners: @andzisu, @sathire, @dkurbak, @atmehra, @atpanig, @saksinh, @twilmer

Add fPIC to x86 builds
  .bazelrc
Owners: @dabalan, @jjochen, @vargrob, @imierlu, @sshopov

Separate copts for x86
  .bazelrc
Owners: @dabalan, @jjochen, @vargrob, @imierlu, @sshopov

Export dupkg and amsrswpkg template and scripts
  deployment/minerva_mpu_adaptive/BUILD
  deployment/minerva_mpu_adaptive/package.bzl
  deployment/minerva_mpu_adaptive/post_install.sh
  deployment/minerva_mpu_adaptive/pre_removal.sh
  os/linux/BUILD
  os/linux/configs/adaptive-stack.service
  os/linux/configs/enable-ipv6-loopback.service
Owners: @dabalan, @jjochen, @vargrob, @imierlu, @sshopov

Move systemd files to their own folder
  os/linux/configs/services/adaptive-stack.service
  os/linux/configs/services/enable-ipv6-loopback.service
  os/linux/run_aarch64_qemu.sh
Owners: none

Add drop-in config for tty binding
  os/linux/configs/services/adaptive-stack.service.d/0-bind-to-ttyAMA0.conf
  os/linux/run_aarch64_qemu.sh
Owners: none

Add new path for service files
  os/linux/BUILD
Owners: @dabalan, @jjochen, @vargrob, @imierlu, @sshopov

Add switch for running the stack in foreground
  CHANGELOG.md
  README.md
  os/linux/run_aarch64_qemu.sh
Owners: none

Include SWUC models for DM daemon
  application/amsr_vector_fs_swupdateclient/BUILD
  application/diagnostic_manager_deamon_executable/BUILD
Owners: @dabalan, @jjochen, @vargrob, @imierlu, @sshopov

Updated swuc model files according Files now conform swuc example in starter_kit vMB-BLuP-1.1.5.1
  application/amsr_vector_fs_swupdateclient/BUILD
  application/amsr_vector_fs_swupdateclient/arxmls/SWUC_Deployment_Diag.arxml
  application/amsr_vector_fs_swupdateclient/arxmls/SWUC_Deployment_DiagCore.arxml
  application/amsr_vector_fs_swupdateclient/arxmls/SWUC_Deployment_DiagCore_SDA_Interface.arxml
  application/amsr_vector_fs_swupdateclient/arxmls/SWUC_Deployment_Diag_ComApi.arxml
  application/amsr_vector_fs_swupdateclient/arxmls/SWUC_Deployment_Executable.arxml
  application/amsr_vector_fs_swupdateclient/arxmls/SWUC_Deployment_Process.arxml
  application/amsr_vector_fs_swupdateclient/arxmls/SWUC_Deployment_Process_Machine_Mapping.arxml
  application/amsr_vector_fs_swupdateclient/arxmls/SWUC_Deployment_Startup_Config.arxml
  application/amsr_vector_fs_swupdateclient/arxmls/SWUC_Deployment_TPUM.arxml
  application/amsr_vector_fs_swupdateclient/arxmls/SWUC_Design_Diag.arxml
  application/amsr_vector_fs_swupdateclient/arxmls/SWUC_Design_DiagCore.arxml
  application/amsr_vector_fs_swupdateclient/arxmls/SWUC_Design_SWCluster_Process.arxml
  application/amsr_vector_fs_swupdateclient/arxmls/SWUC_Design_TPUM.arxml
  application/amsr_vector_fs_swupdateclient/arxmls/SWUC_SWCType.arxml
  application/amsr_vector_fs_swupdateclient/arxmls/SWUC_Types_DiagCore.arxml
  application/amsr_vector_fs_swupdateclient/arxmls/SWUC_Types_TPUM.arxml
Owners: @dabalan, @jjochen, @vargrob, @imierlu, @sshopov, @andzisu, @sathire, @dkurbak, @atmehra, @atpanig, @saksinh, @twilmer

Patched ECU extract
  arxmls/X6AA_IDC_M_P_STAR_35_Ecu_Extract_2021_17a0_AR44.arxml
Owners: none

Update reference to SDA repo
  WORKSPACE
Owners: @dabalan, @jjochen, @vargrob, @imierlu, @sshopov

Add network config to package
  deployment/minerva_mpu_adaptive/BUILD
  deployment/minerva_mpu_adaptive/network_setup.sh
  deployment/minerva_mpu_adaptive/post_install.sh
  deployment/minerva_mpu_adaptive/pre_removal.sh
  os/linux/configs/services/adaptive-network-config.service
Owners: @dabalan, @jjochen, @vargrob, @imierlu, @sshopov

CHANGE: update SW partnumber
  deployment/minerva_mpu_adaptive/package.bzl
Owners: @dabalan, @jjochen, @vargrob, @imierlu, @sshopov

Remove unused docker config flags
  BUILD
Owners: @dabalan, @jjochen, @vargrob, @imierlu, @sshopov

Fix shallow_since warnings
  WORKSPACE
Owners: @dabalan, @jjochen, @vargrob, @imierlu, @sshopov

Remove rules_foreign_cc path deprecation warning
  application/x6aa_resource_monitor/BUILD
Owners: @dabalan, @jjochen, @vargrob, @imierlu, @sshopov

Use the new deployment tar path for qemu run
  os/linux/run_aarch64_qemu.sh
Owners: none

Switch back to mbient/collectd
  WORKSPACE
Owners: @dabalan, @jjochen, @vargrob, @imierlu, @sshopov

Fix collectd commit
  WORKSPACE
Owners: @dabalan, @jjochen, @vargrob, @imierlu, @sshopov

Remove l option for logd
  application/amsr_vector_fs_log_daemon/arxml/logdaemon.arxml
Owners: @andzisu, @sathire, @dkurbak, @atmehra, @atpanig, @saksinh, @twilmer
