Repository POW2KOR/adaptive_autosar, changes with the owners that CODEOWNERS names for each.
All owners: @andzisu, @sathire, @dkurbak, @atmehra, @atpanig, @saksinh, @twilmer, @heimess, @joaepp, @sonyap, @pkandha, @mcherlo, @ftrevin, @dabalan, @jjochen, @vargrob, @imierlu, @sshopov

CODEOWNERS:

# This is the `CODEOWNERS` file for minerva_mpu_adaptive based on the documentation found
# here https://git.swf.daimler.com/help/user/project/code_owners.md

# However the code owner in the MR is still an optional reviewer.
# To make it useful we would need to have Gitlab silver/premium:
# https://docs.gitlab.com/ee/user/project/protected_branches.html#protected-branches-approval-by-code-owners

# Protect folders and their default reviewers
/bsw/ @andzisu @sathire @dkurbak @atmehra @atpanig @saksinh @twilmer
/application/ @andzisu @sathire @dkurbak @atmehra @atpanig @saksinh @twilmer
/application/swc/ @heimess @joaepp
/application/swc/module_templates/autocode_module/ @sonyap @pkandha

# CI/CD and devops team
/devops/ @mcherlo @ftrevin
Jenkinsfile @mcherlo @ftrevin

# All the bazel related files shall need an approval by the ECU SW Integration team
/build_env/ @dabalan @jjochen @vargrob @imierlu @sshopov
BUILD @dabalan @jjochen @vargrob @imierlu @sshopov
WORKSPACE @dabalan @jjochen @vargrob @imierlu @sshopov
.bazelrc @dabalan @jjochen @vargrob @imierlu @sshopov
*.BUILD @dabalan @jjochen @vargrob @imierlu @sshopov
*.bzl* @dabalan @jjochen @vargrob @imierlu @sshopov

Fix BUILD file formatting
  application/x6aa_resource_monitor/BUILD
Owners: @dabalan, @jjochen, @vargrob, @imierlu, @sshopov

Fix CI error
  application/x6aa_resource_monitor/BUILD
Owners: @dabalan, @jjochen, @vargrob, @imierlu, @sshopov

Start using c++14 for write_dlt
  application/x6aa_resource_monitor/BUILD
Owners: @dabalan, @jjochen, @vargrob, @imierlu, @sshopov

Fix mismatch in someip service instance config
  arxmls/X6AA_IDC_M_P_STAR_35_Ecu_Extract_2021_17a0_AR44.arxml
Owners: none

Start collectd using the execution manager
  application/x6aa_resource_monitor/BUILD
  application/x6aa_resource_monitor/collectd.conf
  application/x6aa_resource_monitor/configs/com_application.json
  application/x6aa_resource_monitor/configs/logging_config.json
Owners: @dabalan, @jjochen, @vargrob, @imierlu, @sshopov, @andzisu, @sathire, @dkurbak, @atmehra, @atpanig, @saksinh, @twilmer

Change default log level to Info for all applications
  application/amsr_vector_fs_sec_cryptostack/configs/etc/logging_config.json
  application/diagnostic_manager_deamon_executable/configs/logging_config.json
  application/idc6mt/configs/logging_config.json
  application/x6aa_config_manager/src/persistent_mem_accessor/persistent_mem_accessor.cpp
Owners: @andzisu, @sathire, @dkurbak, @atmehra, @atpanig, @saksinh, @twilmer

Add SI_SuppFunctions_MPC_Service_ST3 service
  application/x6aa_rov_transmission_manager/BUILD
  application/x6aa_rov_transmission_manager/src/rov_application.cpp
  application/x6aa_rov_transmission_manager/src/rov_application.h
  application/x6aa_rov_transmission_manager/src/si_suppfunctions_mpc.cpp
  application/x6aa_rov_transmission_manager/src/si_suppfunctions_mpc.h
Owners: @dabalan, @jjochen, @vargrob, @imierlu, @sshopov, @andzisu, @sathire, @dkurbak, @atmehra, @atpanig, @saksinh, @twilmer

Add SI_SpeedLimit service for ROV Tx Manager
  application/common/activation_manager.cpp
  application/x6aa_rov_transmission_manager/BUILD
  application/x6aa_rov_transmission_manager/src/rov_application.cpp
  application/x6aa_rov_transmission_manager/src/rov_application.h
  application/x6aa_rov_transmission_manager/src/si_speed_limiter.cpp
  application/x6aa_rov_transmission_manager/src/si_speed_limiter.h
Owners: @andzisu, @sathire, @dkurbak, @atmehra, @atpanig, @saksinh, @twilmer, @dabalan, @jjochen, @vargrob, @imierlu, @sshopov

Add activation manager to the application base class
  application/common/BUILD
  application/common/activation_manager.cpp
  application/common/activation_manager.h
  application/common/application_base.cpp
  application/common/application_base.h
Owners: @dabalan, @jjochen, @vargrob, @imierlu, @sshopov, @andzisu, @sathire, @dkurbak, @atmehra, @atpanig, @saksinh, @twilmer

Fix format with pre-commit check
  application/x6aa_rov_transmission_manager/src/si_speed_limiter.cpp
  application/x6aa_rov_transmission_manager/src/si_speed_limiter.h
  application/x6aa_rov_transmission_manager/src/si_suppfunctions_mpc.cpp
  application/x6aa_rov_transmission_manager/src/si_suppfunctions_mpc.h
Owners: @andzisu, @sathire, @dkurbak, @atmehra, @atpanig, @saksinh, @twilmer

Add activation manager as member of Base class
  application/common/application_base.cpp
  application/common/application_base.h
  application/x6aa_rov_transmission_manager/src/rov_application.cpp
Owners: @andzisu, @sathire, @dkurbak, @atmehra, @atpanig, @saksinh, @twilmer

Fixed subscription of speed limiter service
  application/x6aa_rov_transmission_manager/src/rov_application.cpp
  application/x6aa_rov_transmission_manager/src/si_speed_limiter.cpp
  application/x6aa_rov_transmission_manager/src/si_speed_limiter.h
Owners: @andzisu, @sathire, @dkurbak, @atmehra, @atpanig, @saksinh, @twilmer

add getter function for logger
  application/common/application_base.cpp
  application/common/application_base.h
  application/x6aa_rov_transmission_manager/src/rov_application.cpp
Owners: @andzisu, @sathire, @dkurbak, @atmehra, @atpanig, @saksinh, @twilmer

Apply MR suggestions
  application/common/activation_manager.cpp
  application/x6aa_rov_transmission_manager/src/si_speed_limiter.cpp
  application/x6aa_rov_transmission_manager/src/si_speed_limiter.h
  application/x6aa_rov_transmission_manager/src/si_suppfunctions_mpc.cpp
  application/x6aa_rov_transmission_manager/src/si_suppfunctions_mpc.h
Owners: @andzisu, @sathire, @dkurbak, @atmehra, @atpanig, @saksinh, @twilmer

Fix format issue
  application/common/activation_manager.cpp
Owners: @andzisu, @sathire, @dkurbak, @atmehra, @atpanig, @saksinh, @twilmer

Remove static find service handler
  application/x6aa_rov_transmission_manager/src/si_speed_limiter.cpp
  application/x6aa_rov_transmission_manager/src/si_speed_limiter.h
Owners: @andzisu, @sathire, @dkurbak, @atmehra, @atpanig, @saksinh, @twilmer

Change FindService method name to CheckAndStopFindService
  application/x6aa_rov_transmission_manager/src/rov_application.cpp
  application/x6aa_rov_transmission_manager/src/si_speed_limiter.cpp
  application/x6aa_rov_transmission_manager/src/si_speed_limiter.h
Owners: @andzisu, @sathire, @dkurbak, @atmehra, @atpanig, @saksinh, @twilmer

Change persistent mem accessor class to Singleton
  application/x6aa_config_manager/src/diagnostic_ssa_client/diagnostic_ssa_client.cpp
  application/x6aa_config_manager/src/diagnostic_ssa_client/diagnostic_ssa_client.h
  application/x6aa_config_manager/src/persistent_mem_accessor/persistent_mem_accessor.cpp
  application/x6aa_config_manager/src/persistent_mem_accessor/persistent_mem_accessor.h
  application/x6aa_config_manager/src/vc_cnfg_mngr_server/vc_cnfg_mngr_server.cpp
  application/x6aa_config_manager/src/vc_cnfg_mngr_server/vc_cnfg_mngr_server.h
Owners: @andzisu, @sathire, @dkurbak, @atmehra, @atpanig, @saksinh, @twilmer

Add ssa client implementation in config manager
  application/x6aa_config_manager/BUILD
  application/x6aa_config_manager/src/diagnostic_ssa_client/diagnostic_ssa_client.cpp
  application/x6aa_config_manager/src/diagnostic_ssa_client/diagnostic_ssa_client.h
Owners: @dabalan, @jjochen, @vargrob, @imierlu, @sshopov, @andzisu, @sathire, @dkurbak, @atmehra, @atpanig, @saksinh, @twilmer

Add dummy SSA server implementation
  application/x6aa_dummy_2_app/BUILD
  application/x6aa_dummy_2_app/src/dummy_2_application.cpp
  application/x6aa_dummy_2_app/src/dummy_2_application.h
  application/x6aa_dummy_2_app/src/dummy_ssa_server.cpp
  application/x6aa_dummy_2_app/src/dummy_ssa_server.h
  application/x6aa_dummy_2_app/src/dummy_ssa_server_error_domain.h
  application/x6aa_dummy_2_app/src/main.cpp
Owners: @dabalan, @jjochen, @vargrob, @imierlu, @sshopov, @andzisu, @sathire, @dkurbak, @atmehra, @atpanig, @saksinh, @twilmer

Use application base parent class
  application/x6aa_dummy_2_app/BUILD
  application/x6aa_dummy_2_app/src/dummy_ssa_server.cpp
  application/x6aa_dummy_2_app/src/dummy_ssa_server.h
  application/x6aa_dummy_2_app/src/dummy_ssa_server_error_domain.h
Owners: @dabalan, @jjochen, @vargrob, @imierlu, @sshopov, @andzisu, @sathire, @dkurbak, @atmehra, @atpanig, @saksinh, @twilmer

Add SWC2 someip config to someipd-posix
  application/someipd_posix/config/someipd-posix.json
  application/x6aa_config_manager/src/diagnostic_ssa_client/diagnostic_ssa_client.cpp
  application/x6aa_config_manager/src/diagnostic_ssa_client/diagnostic_ssa_client.h
  application/x6aa_config_manager/src/main.cpp
  application/x6aa_dummy_swc_1/src/variant_coding_consumer.cpp
Owners: @andzisu, @sathire, @dkurbak, @atmehra, @atpanig, @saksinh, @twilmer

Use getter function of BaseApplication
  application/x6aa_dummy_2_app/src/dummy_ssa_server.cpp
Owners: @andzisu, @sathire, @dkurbak, @atmehra, @atpanig, @saksinh, @twilmer

Check event subscription state
  application/x6aa_config_manager/src/diagnostic_ssa_client/diagnostic_ssa_client.cpp
Owners: @andzisu, @sathire, @dkurbak, @atmehra, @atpanig, @saksinh, @twilmer

Modify commit reference for sda
  WORKSPACE
  application/amsr_vector_fs_swupdateclient/configs/com_application.json
  application/amsr_vector_fs_swupdateclient/per/amsr_swupdateclient/var/sw_packages/.gitkeep
Owners: @dabalan, @jjochen, @vargrob, @imierlu, @sshopov, @andzisu, @sathire, @dkurbak, @atmehra, @atpanig, @saksinh, @twilmer

Initial commit for SWUC integration
  BUILD
  application/amsr_vector_fs_swupdateclient/BUILD
  application/amsr_vector_fs_swupdateclient/arxmls/SWUC_Deployment.arxml
  application/amsr_vector_fs_swupdateclient/arxmls/SWUC_Design.arxml
  application/amsr_vector_fs_swupdateclient/arxmls/SWUC_DiagCore_Deployment.arxml
  application/amsr_vector_fs_swupdateclient/arxmls/SWUC_DiagCore_Design.arxml
  application/amsr_vector_fs_swupdateclient/arxmls/SWUC_DiagCore_SDA_Interface_Deployment.arxml
  application/amsr_vector_fs_swupdateclient/arxmls/SWUC_DiagCore_Types.arxml
  application/amsr_vector_fs_swupdateclient/arxmls/SWUC_Diag_Deployment.arxml
  application/amsr_vector_fs_swupdateclient/arxmls/SWUC_Diag_Design.arxml
  application/amsr_vector_fs_swupdateclient/arxmls/SWUC_TPUM_Deployment.arxml
  application/amsr_vector_fs_swupdateclient/arxmls/SWUC_TPUM_Design.arxml
  application/amsr_vector_fs_swupdateclient/arxmls/SWUC_TPUM_Types.arxml
  application/amsr_vector_fs_swupdateclient/arxmls/softwarecluster_extensions.arxml
  application/diagnostic_manager_deamon_executable/BUILD
  application/sda/BUILD
  bsw/BUILD
  bsw/amsr_xavier.BUILD
Owners: @dabalan, @jjochen, @vargrob, @imierlu, @sshopov, @andzisu, @sathire, @dkurbak, @atmehra, @atpanig, @saksinh, @twilmer

Further patched the ECU extract
  WORKSPACE
  arxmls/X6AA_IDC_M_P_STAR_35_Ecu_Extract_2021_17a0_AR44.arxml
Owners: @dabalan, @jjochen, @vargrob, @imierlu, @sshopov

Add flag for nvidia update stratergy
  application/amsr_vector_fs_swupdateclient/BUILD
Owners: @dabalan, @jjochen, @vargrob, @imierlu, @sshopov

Path changes for persistency related configs
  application/amsr_vector_fs_sec_cryptostack/BUILD
  application/amsr_vector_fs_sec_cryptostack/configs/daemon_config.json
  application/amsr_vector_fs_sec_cryptostack/configs/etc/.gitkeep
  application/amsr_vector_fs_sec_cryptostack/configs/exec_config.json
  application/amsr_vector_fs_sec_cryptostack/configs/ksp.json
  application/amsr_vector_fs_sec_cryptostack/configs/logging_config.json
  application/amsr_vector_fs_sec_cryptostack/configs/predefined_slots/slot1000000_nist_p256_domain_parameters.json
  application/amsr_vector_fs_sec_cryptostack/configs/predefined_slots/slot1000001_nist_p384_domain_parameters.json
  application/amsr_vector_fs_sec_cryptostack/configs/predefined_slots/slot1000002_nist_p521_domain_parameters.json
  application/amsr_vector_fs_swupdateclient/BUILD
  application/diagnostic_manager_deamon_executable/BUILD
  application/drive/drive.BUILD
  arxmls/X6AA_IDC_M_P_STAR_35_Ecu_Extract_2021_17a0_AR44.arxml
Owners: @dabalan, @jjochen, @vargrob, @imierlu, @sshopov, @andzisu, @sathire, @dkurbak, @atmehra, @atpanig, @saksinh, @twilmer

Add nvidia drive update stratergy
  WORKSPACE
  application/amsr_vector_fs_swupdateclient/BUILD
  application/drive/drive.BUILD
  bsw/amsr_xavier.BUILD
Owners: @dabalan, @jjochen, @vargrob, @imierlu, @sshopov

Implement macro for update package creation
  bazel/defs.bzl
Owners: @dabalan, @jjochen, @vargrob, @imierlu, @sshopov

Export dupkg and amsrswpkg template and scripts
  bsw/amsr_xavier.BUILD
Owners: @dabalan, @jjochen, @vargrob, @imierlu, @sshopov

Add py binary for the amsrswpkg_generator
  bsw/BUILD
Owners: @dabalan, @jjochen, @vargrob, @imierlu, @sshopov

Add software update package creation to CI
  .bazelrc
  devops/cicd/scripts/bash/runtime_functions.sh
Owners: @dabalan, @jjochen, @vargrob, @imierlu, @sshopov, @mcherlo, @ftrevin

Fix backslash escaping
  bazel/defs.bzl
Owners: @dabalan, @jjochen, @vargrob, @imierlu, @sshopov

Add info about new deployment targets
  .devcontainer/post_start.sh
  README.md
Owners: none

Build the deployment target directly in the CI
  devops/cicd/scripts/bash/runtime_functions.sh
Owners: @mcherlo, @ftrevin

Add mpu_adaptive deployment and update package
  BUILD
  deployment/minerva_mpu_adaptive/BUILD
  deployment/minerva_mpu_adaptive/package.bzl
Owners: @dabalan, @jjochen, @vargrob, @imierlu, @sshopov

Add deprecation warning about old targets
  BUILD
  CHANGELOG.md
Owners: @dabalan, @jjochen, @vargrob, @imierlu, @sshopov

Fix sed command for collectd
  application/x6aa_resource_monitor/BUILD
Owners: @dabalan, @jjochen, @vargrob, @imierlu, @sshopov
